/*
Font Settings for open sans
    Open Sans weights (300, 400, 600, 700)
    an 800 exists but I wouldn't want to use it.
    
*/
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #222222;
}
.expansion-switch {
  display: none;
}
#geom_background {
  position: absolute;
  z-index: -1;
}
.hoverLayer line {
  stroke-width: 2px;
  opacity: 0.6;
}
.hoverLayer rect {
  stroke-width: 2px;
  fill: none;
  opacity: 0.6;
}
.select line {
  stroke-width: 2px;
  opacity: 0.6;
}
.select rect {
  opacity: 0.6;
}
.header {
  position: relative;
  margin-left: 48px;
}
.header .controls {
  height: 96px;
  padding-left: 12px;
  border-bottom: 1px solid #222222;
}
.header .controls div {
  margin-top: 24px;
  margin-right: 180px;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  cursor: pointer;
}
.header .controls div:hover {
  background-color: #ccc;
}
.header .categories {
  margin-top: 48px;
  margin-left: 12px;
}
.header .categories .category {
  width: 30%;
  font-family: "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  font-weight: 700;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
  color: #888888;
}
.node {
  /*background-color: #ddd;*/

  /*color: @back;*/

  margin-left: 12px;
  margin-top: 24px;
  max-width: 384px;
  cursor: pointer;
  position: absolute;
  top: 154px;
  left: 72px;
}
.node .node-title {
  max-height: 48px;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
}
.node .node-details {
  border-top: 2px #ffffff solid;
  padding-left: 12px;
  padding-right: 12px;
  display: none;
}
.chevron_single polygon {
  fill: #222222;
}
.node.smalltopic .node-title {
  font-family: "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: 700;
  color: #000000;
}
.node.bigtopic .node-title {
  font-family: "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  font-weight: 600;
  color: #000000;
}
.node.project .node-title {
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}
.node.person .node-title {
  font-weight: 400;
  color: #222222;
}
.highlighted .node-title,
.highlight-stay .node-title {
  color: #000 !important;
}
.hovered .node-title {
  color: #222222 !important;
}
.highlight-stay .node-title {
  color: #222222;
}
.expansion-switch {
  margin: 0;
  padding: 0;
  border-top: 2px #ffffff solid;
  text-align: center;
  height: 18px;
  position: relative;
}
.expansion-switch svg {
  position: absolute;
  top: 4px;
  margin-left: -12px;
}
.expansion-switch svg g polygon {
  fill: #222222;
}
.expansion-switch:hover {
  background-color: #222222;
}
.expansion-switch:hover polygon {
  fill: #ffffff;
}
.selected .node-title {
  color: #222222 !important;
}
#globe {
  position: absolute;
}
ul.countries {
  list-style-type: none;
  z-index: 6;
  position: absolute;
  left: 24px;
  font-weight: bold;
}
ul.countries li {
  cursor: pointer;
}
ul.countries li:hover {
  color: #FF7E04;
}
ul.projects {
  list-style-type: none;
  z-index: 6;
  position: absolute;
  margin-left: 700px;
  top: 0;
}
ul.projects li {
  text-align: right;
  margin-bottom: 24px;
}
ul.projects li .title {
  font-weight: bold;
}
ul.projects li .faculty {
  font-style: italic;
}
