// Typography Dimensions
@char: 14px;
@vu: 24px;
@gut: 12px;
@col: 360px;
@pad: 12px;
@semivu: 18px;

// colors
@color: #ff6600;
@text: #222;
@back: #fff;

@person: #222;
@project: #00BD06;
@topic: #000;

/*
Font Settings for open sans
    Open Sans weights (300, 400, 600, 700)
    an 800 exists but I wouldn't want to use it.
    
*/
// @sans: "Open Sans", "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
@sans: "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
@serif: "Georgia", "Palatino", "Linotype Palatino", "Book Antiqua", "Monotype Book Antiqua", "Times", serif;

@import "grids.less";

html {
  .clear;
}

body {
  .clear;
  font-family: @sans;
  font-size: @char;
  line-height: @vu;
  font-weight: 400;
  color: @text;
}

.expansion-switch {
  display: none;
}

#geom_background {
  position: absolute;
  z-index: -1;
}

.seeThrough(){
  opacity: 0.6;
}
.hoverLayer{ 
  line {
    stroke-width: 2px;
    .seeThrough;
  }
  rect {
    stroke-width: 2px;
    fill: none;
    .seeThrough;
  }
}

.select {
  line {
    stroke-width: 2px;
    .seeThrough;
  }
  rect {
    .seeThrough;
  }
}

.header {
  position: relative;
  margin-left: @pad * 2 + @gut * 2;
  .controls {
    height: @vu * 4;
    padding-left: @pad;
    div {
      margin-top: @vu;
      margin-right: @col / 2;
      float: left;
      padding-left: @pad;
      padding-right: @pad;
      padding-top: @vu / 4;
      cursor: pointer;
      &:hover {
        background-color: #ccc;
      }
    }
    border-bottom: 1px solid @text;
  } 
  .categories {
    margin-top: @vu * 2;
    margin-left: @gut;
    .category {
        width: 30%;
        font-family: @sans;
        font-weight: 700;
        float: left;
        padding-left: @pad;
        padding-right: @pad;
        color: lighten(@text, 40%);
    }
  }
}

.node {
  /*background-color: #ddd;*/
  /*color: @back;*/
  margin-left: @gut;
  margin-top: @vu;
  max-width: @col + (@pad * 2);
  cursor: pointer;
  position: absolute;
  top: 154px;
  left: @pad * 4 + @gut * 2;
  .node-title {
    max-height: @vu * 2;
    padding-left: @pad;
    padding-right: @pad;
    overflow: hidden;
  }
  .node-details {
    //background-color: @text;
    //color: @back;
    border-top: 2px @back solid;
    .xpad;
    display: none;
  }
}

.chevron_single polygon {
  fill: @text;
}

.node.smalltopic {
  .node-title {
    font-family: @sans;
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: 700;
    color: @topic;
  }
}

.node.bigtopic {
  .node-title {
    font-family: @sans;
    font-weight: 600;
    color: @topic;
  }
}

.node.project {
  .node-title {
    font-style: italic;
    font-weight: 300;
    color: #ccc;
  }
}

.node.person {
  .node-title {
    font-weight: 400;
    color: @person;
  }
}

.highlighted, .highlight-stay {
  .node-title {
    color: #000 !important;
  }
}

.hovered {
  .node-title {
    color: @text !important;
    //background-color: @text;
  }
}
.highlight-stay {
  .node-title {
    color:@text;
  }
}
.expansion-switch {
  .clear;
  border-top: 2px @back solid;
  //background-color: @text;
  text-align: center;
  height: @semivu;
  position: relative;
  svg {
    position: absolute;
    top: (@semivu / 2) - 5;
    margin-left: -@vu * 0.5;
    g {
      polygon {
        fill: @text;
      }
    }
  }
  &:hover {
    background-color: @text;
    polygon {
      fill: @back;
    }
  }
}
.selected {
  .hovered;
}



