/*
Font Settings for open sans
    Open Sans weights (300, 400, 600, 700)
    an 800 exists but I wouldn't want to use it.
    
*/
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #222222;
}
.expansion-switch {
  display: none;
}
#geom_background {
  position: absolute;
  z-index: -1;
}
.hoverLayer line {
  stroke: #222222;
  stroke-width: 3px;
  opacity: 0.5;
}
.hoverLayer rect {
  stroke: #222222;
  stroke-width: 2px;
  fill: none;
}
.select line {
  stroke: #ff6600;
  stroke-width: 3px;
  opacity: 0.6;
}
.select rect {
  fill: #ff6600;
  opacity: 0.6;
}
.header {
  position: relative;
  margin-left: 12px;
}
.header .category {
  margin-top: 48px;
  width: 30%;
  font-family: "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  font-weight: 700;
  float: left;
  margin-left: 12px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.node {
  /*background-color: #ddd;*/

  /*color: @back;*/

  float: left;
  margin-left: 12px;
  margin-top: 24px;
  max-width: 384px;
  cursor: pointer;
}
.node .node-title {
  max-height: 48px;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
}
.node .node-details {
  background-color: #222222;
  color: #ffffff;
  border-top: 2px #ffffff solid;
  padding-left: 12px;
  padding-right: 12px;
  display: none;
}
.chevron_single polygon {
  fill: #222222;
}
.node.smalltopic .node-title {
  font-family: "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: 700;
}
.node.bigtopic .node-title {
  font-family: "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  font-weight: 600;
}
.node.project .node-title {
  font-style: italic;
  font-weight: 300;
}
.node.person .node-title {
  font-weight: 400;
}
/*.highlighted, .highlight-stay {*/
/*background-color: @color;*/
/*}*/
.hovered .node-title {
  color: #ffffff;
  background-color: #222222;
}
.expansion-switch {
  margin: 0;
  padding: 0;
  border-top: 2px #ffffff solid;
  background-color: #222222;
  text-align: center;
  height: 18px;
  position: relative;
}
.expansion-switch svg {
  position: absolute;
  top: 4px;
  margin-left: -12px;
}
.expansion-switch svg g polygon {
  fill: #ffffff;
}
.expansion-switch:hover {
  background-color: #ff6600;
}
.expansion-switch:hover polygon {
  fill: #222222;
}
.selected .node-title {
  color: #ffffff;
  background-color: #222222;
}
